body {
  overflow-x: hidden;
  overflow-y: hidden;
  background-color: black;
}

.board {
  width: 100svmin;
  height: 100svmin;
  position: fixed;
  left: 50%;
  top: 50%;
  translate: -50% -50%;
  background-color: black;
  position: fixed;
}

.card {
  background-color: white;
  border-radius: 1svmin;
  position: absolute;
  transition-property: opacity, left, top;
  transition-duration: 1000ms;
}

.dot {
  border-radius: 50%;
  position: absolute;
  transition-property: opacity, left, top, rotate;
  transition-duration: 1000ms;

  img {
    width: 9svmin;
    height: 9svmin;
    translate: -50% -50%;
    position: absolute;
  }
}
